body{
    background-color: brown;
}
#container{
    width: 650px;
    height: 550px;
    text-align: center;
    background: white;
    overflow-y: auto;
    color: black;
    border: 2px solid blue;
    border-radius: 10px;
}
.Heading{
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}
#lists{
    margin: 50px;
    padding-left: 0;
}
.checklists{
    list-style: none;
    border: 2px solid black;
    width: 80%;
    /* opacity: 0; */
    height: 40px;
    margin: 5px auto;
    /* top right bottom left */
    text-align: left;
}
#container ul li label{
    margin: 0  auto;
    vertical-align: middle;
    line-height: 40px;
    height: 100%;
    font-size: 18px;
}

#container ul li label #checks{
    float: left;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    position: absolute;
    outline: 0;
}